[submodule "src/data"]
	path = src/data
	url = https://github.com/dzkb/twitter-streaming-fetching.git
[submodule "tweet_recommendations/other_methods/tweet2vec"]
	path = tweet_recommendations/other_methods/tweet2vec
	url = git@github.com:data-boars/tweet2vec.git
